html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: #03111a;
}

@font-face {
    font-family: Tribeca;
    src: url(./tribeca.regular.ttf);
}

@font-face {
    font-family: JungleFever;
    src: url(./junglefever.fevernf.ttf);
}

#render-canvas {
    width: 100%;
    height: 100%;
    display: block;

    -drag: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#next-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #34bbe6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: JungleFever;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
}

#score {
    position: absolute;
    top: 5px;
    left: calc(50% - 90px);
    width: 180px;
    padding: 5px 0px;
    font-size: 40px;
    font-weight: 500;
    background: #f7d038;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-family: JungleFever;
    text-align: center;
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
}